body{
	border:0px;
	margin: 0px;
	background-image: url('gym.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.left{
	/*border: 2px solid red;*/
	display: inline-block;
	position: absolute;
	left: 20px;
	top:20px;
}

.mid{
	/*border: 2px solid green;*/
	display: block;
	width: 50%;
	margin: 20px auto;
}

.right{
	/*border: 2px solid yellow;*/
	display: inline-block;
	position: absolute;
	right: 10px;
	top:20px;
}

.navbar{
	display: inline-block;
}

.navbar li{
	display: inline-block;
	font-size: 20px;
}

.navbar li a {
	color: white;
	text-decoration: none;
	padding: 30px 20px;
}

.navbar li a:hover, .navbar li a.active{
	color: grey;
	text-decoration: underline;
	padding: 30px 20px;
}

.left img{
	width: 85px;
	border-radius: 50%;
}

.left div{
	text-align: center;
	font-size: 20px;
}

.btn{
	margin: 0px 10px;
	background-color: black;
	color: white;
	padding: 4px 14px;
	border: 2px solid grey;
	border-radius: 15px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.btn:hover{
	background-color: white;
	color: black;
}

.container{
	border: 2px solid white;
	margin: 80px 60px;
	padding: 35px;
	width: 33%;
	border-radius: 20px;
}

.form-group input{
	text-align: center;
	display: block;
	width: 300px;
	padding: 4px;
	margin: 8px auto;
	border: 2px solid black;
	border-radius: 15px;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
}

.container h2 {
	text-align: center;
}

.container button {
	display: block;
	width: 70%;
	margin: 20px auto;

}